<p>
<table border="0">
<% list.each_with_index do |content,index| %>
<tr>
  <td><%= index+1 %>.</td>
  <td><%= link_to h(content.translation_file.filename_with_path),
        :controller => 'translation_file', :action => 'index',
        :id => content.translation_file.id %>
  (<%= link_to h(content.content.original_filename), content.content.url %>)</td>
  <td><%= content.created_at %></td>
  <td><%= link_to_user(content.user) %></td>
  <td>size=<%= content.content.size %></td>
  <td>
  <%=
    posieve_check_rules_count(content) || 'n/a'
  %> error(s)
  <%= link_to 'more...', :controller => 'file_content', :action => 'show', :id => content.id %>
  </td>
</tr>
<% end %>
</table>
</p>
