<p>
<% list.each_with_index do |content,index| %>
  <%= index+1 %>. <%= link_to h(content.translation_file.filename_with_path), :controller => 'translation_file', :action => 'index', :id => content.translation_file.id %> <%= content.created_at %> <%= link_to_user(content.user) %> <%= content.content.size %>

  Number of errors: <%=
    $po_backend.error_hook = lambda {|s| flash[:error] = s }
    (posieve = $po_backend.posieve) ? posieve.check_rules(content.content.to_file.read).size : 'n/a'
  %>
  <%= link_to 'more...', :controller => 'file_content', :action => 'show', :id => content.id %>
  <br/>
<% end %>
</p>

