<% if @file.nil? %>
  <p style="color: red;">
    Could not find translation file contents with ID=<%= params[:id] %>.
  </p>
<% else %>

<h2>This page describes the uploaded file '<%= @file.content.original_filename %>'</h2>

<% if @errors.nil? %>

<i><%= t('.not_checked_yet') %></i>

<% elsif @errors.is_a?(String) %>

<i><%= t('.failed_to_check') %></i>
<p>
  <pre>
    <%= h(@errors) %>
  </pre>
</p>

<% elsif @errors.is_a?(Array) %>

<% @errors.each do |err| %>
  <table border="1" width="99%">
<% if err[:gettext_error].is_a?(String) %>
    <tr>
      <td style="background-color:#fcc;">
        <pre>
        <%= h(err[:gettext_error]) %>
        </pre>
      </td>
    </tr>
<% else %>
    <tr>
      <td rowspan="2" style="font-weight:bold; background-color:#88f">
        <%= h('#' + err[:refentry]) %>
      </td>
      <td colspan="2">
        <%= h(err[:msgctxt].force_encoding('UTF-8')) %>
      </td>
    <tr/>
    
    <tr>
      <td/>
      <td rowspan="2">
        <%= h(err[:msgid].force_encoding('UTF-8')) %>
      </td>
      <td rowspan="2">
        <%=
	  s = err[:msgstr].force_encoding('UTF-8')
	  if err[:highlight].is_a?(Range) && err[:highlight].begin >= 0 && err[:highlight].end >= 0 && err[:highlight].begin <= s.length && err[:highlight].end <= s.length && err[:highlight].begin < err[:highlight].end
	    h(s[0...err[:highlight].begin]) + '<b>' + h(s[err[:highlight]]) + '</b>' + h(s[err[:highlight].end..-1])
	  else
	    h(s)
	  end
        %>
      </td>
    </tr>

    <tr>
      <td><%= h('line ' + err[:line]) %></td>
    </tr>
    
    <tr>
      <td/>
      <td colspan="2" align="center" style="background-color:#fcc;">
        <%= h(err[:hint].force_encoding('UTF-8')) %>
      </td>
    </tr>
<% end %>
  </table>
<% end %>

<% else %>

<% end -%>

<% end -%>
