<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>

    <%= javascript_include_tag 'jquery', 'application' %>
    <%= stylesheet_link_tag 'application' %>
    <%= yield(:head) %>
  </head>

  <body>
    <%= render :partial => 'users/user_bar' %>

    <!-- <%= link_to 'List of .PO files', :controller => 'admin', :action => 'polist' %> -->
    <%= link_to 'Main page', '/' %>

    <!-- see Railscasts: 018 Looping Through Flash -->
    <% flash.each do |key, msg| %>
      <%= content_tag :div, msg, :class => 'flash_' + key.to_s %>
    <% end %>


    <%= yield %>
  </body>
</html>
