<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>

    <%= javascript_include_tag 'jquery', 'application' %>
    <%= yield(:head) %>
  </head>

  <body>
    <%= render :partial => 'users/user_bar' %>


    <%= yield %>
  </body>
</html>
