<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>
      <%=
        title = yield(:title)
        h((title ? title + ' - ' : '') + t('.website_title'))
      %>
    </title>

    <%= javascript_include_tag 'jquery', 'application' %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'page-header' %>
    <%= yield(:head) %>
  </head>

  <body>
    <%= render :partial => 'layouts/page_header' %>


    <!-- see Railscasts: 018 Looping Through Flash -->
    <% flash.each do |key, msg| %>
      <%= content_tag :div, msg, :class => 'flash_' + key.to_s %>
    <% end %>


    <%= yield %>
  </body>
</html>
